@use "../styles/_mixins";

@import "@navikt/ds-tokens/dist/tokens";

.create-new-supplier-user {
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    gap: $a-spacing-8;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $a-spacing-4;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: $a-spacing-7;
    width: 300px;

    .button-container {
      display: flex;
      width: 100%;
      gap: $a-spacing-4;
      margin-top: $a-spacing-4;

      button {
        flex-grow: 1;
      }
    }
  }
}
