@use "../../styles/_mixins";

@import '@navikt/ds-tokens/dist/tokens';


.variants-table {

  thead tr {
    background-color: $ax-bg-neutral-moderate;
  }

  thead tr > th:first-child {
    background-color: $ax-bg-neutral-moderate;
  }
}


.import-products {
  margin-top: $ax-space-16;
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    gap: $ax-space-8;
    margin-bottom: $ax-space-16;
  }

  h1 {
    text-align: left;
  }
}

.product-series-info {
  p {
    margin-bottom: $ax-space-1;
    margin-top: $ax-space-1;

  }
}

.images-inline {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 1rem;

  li {
    padding: $ax-space-4 $ax-space-4;
    background-color: #ffffff;
    box-shadow: $ax-shadow-dialog;
    border-radius: $ax-radius-8;
  }
}


.images-tab {
  &__upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;

    gap: 1rem;
    width: 626px;
    height: 121px;
    background-color: #efecf4;
    border-radius: 5px;
    border: 2px dotted #8269a2;

    button {
      background-color: white;
    }
  }

  &__upload-icon {
    color: #8269a2;
    opacity: 0.4;
  }

  &__text {
    color: #676f7b;
  }
}
