@import "@navikt/ds-tokens/dist/tokens";

.dragged {
  list-style-type: none;
  width: 10rem;
  height: 15rem;
  position: relative;
  box-shadow: $ax-shadow-dialog;
  border-radius: $ax-radius-8;
  text-align: center;
  background-color: var(--ax-bg-neutral-moderate);
}

.list {
  user-select: none;
  display: flex;
  justify-content: flex-start;

  ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    gap: $ax-space-4;
  }
}

.userSelect {
  cursor: grab;
}
