@import "@navikt/ds-tokens/dist/tokens";

.mediaCardCopy {
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--ax-space-4);
  padding: var(--ax-space-8) var(--ax-space-2) var(--ax-space-1) var(--ax-space-2);
  width: 20rem;
  position: relative;
  background-color: #ffffff;
  box-shadow: var(--ax-shadow-dialog);
  border-radius: var(--ax-radius-8);
  text-align: center;
}

.mediaCard {
  background-color: #ffffff;
  box-shadow: var(--ax-shadow-dialog);
  border-radius: var(--ax-radius-8);
  
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  
  gap: var(--ax-space-4);
}

.mediaCard:hover {
  background-color: var(--ax-bg-neutral-moderate-hover);
}

.grabbable {
  margin-top: var(--ax-space-4);
  opacity: 0.7;
}

.header {
  gap: var(--ax-space-2);
  align-items: center;
  justify-content: stretch;
}
