@import "@navikt/ds-tokens/dist/tokens";

.mediaCard {
  background-color: #ffffff;
  box-shadow: var(--ax-shadow-dialog);
  border-radius: var(--ax-radius-8);
  
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  
  gap: var(--ax-space-16);
}

.mediaCard:hover {
  background-color: var(--ax-bg-neutral-moderate-hover);
}

.grabbable {
  margin-top: var(--ax-space-4);
  opacity: 0.7;
}

