@import "@navikt/ds-tokens/dist/tokens";

.mediaCardCopy {
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--a-spacing-3);
  padding: var(--a-spacing-8) var(--a-spacing-2) var(--a-spacing-1) var(--a-spacing-2);
  width: 20rem;
  position: relative;
  background-color: #ffffff;
  box-shadow: var(--a-shadow-xsmall);
  border-radius: var(--a-border-radius-medium);
  text-align: center;
}

.mediaCard {
  background-color: #ffffff;
  box-shadow: var(--a-shadow-xsmall);
  border-radius: var(--a-border-radius-medium);
  
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  
  gap: var(--a-spacing-3);
}

.mediaCard:hover {
  background-color: var(--a-surface-hover);
}

.grabbable {
  margin-top: var(--a-spacing-3);
  opacity: 0.7;
}

.header {
  gap: var(--a-spacing-2);
  align-items: center;
  justify-content: stretch;
}
