@import "@navikt/ds-tokens/dist/tokens";
@import "../styles/variables";

.button {
  background-color: $fm-border-darker !important;
  border-radius: 12px !important;
  box-shadow: 0 0.0625rem 0.375rem rgba(0, 0, 0, 0.16) !important;
  color: #fff !important;

  &:hover {
    background-color: $fm-bg-subtle !important;
  }

  &:active {
    background-color: $a-surface-active !important;
  }
}

.container {
  display: flex;
}

.closeButton {
  align-self: end;
}

.containerMobile {
  position: fixed;

  left: auto;
  right: 10px;
  top: auto;
  bottom: 60px;

  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  width: 100%;
  max-width: 400px;
}

.buttonMobile {
  background-color: #f5f9ff;
  border-radius: 32px;
  position: absolute;
  right: 0;
  box-shadow: 0 0.0625rem 0.375rem rgba(0, 0, 0, 0.16);
}

.modalBody {
  padding: 10px;
}
