$column-widths: 260px 120px 120px 120px 40px;

.techLabelsContainer {
  max-width: 100rem;
}

.column {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mediumColumn {
  @extend .column;
  max-width: 200px;
  width: 200px;
}

.shortColumn {
  @extend .column;
  max-width: 90px;
  width: 90px;
}

.requiredColumn {
  @extend .column;
  max-width: 120px;
  width: 120px;
}

.optionsColumn {
  @extend .column;
  min-width: 120px;
  max-width: 200px;
}

.editButton {
  width: 90px;
  display: flex;
  justify-content: flex-end;
}

.editButtonHeader {
  width: 90px;
}
