@use "../styles/_mixins";

@import "@navikt/ds-tokens/dist/tokens";

pre {
  font-family: inherit;
  white-space: pre-wrap;
  margin: 0;
}

.product-page {
  @include mixins.for-size(phone-only) {
    justify-items: flex-start;
  }
}

.videos {
  list-style: none;

  li {
    padding: $a-spacing-4;
    background-color: #ffffff;
    box-shadow: $a-shadow-xsmall;
    border-radius: $a-border-radius-medium;
    width: 400px;
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }
}

.document-list-container,
.images-inline {
  list-style: none;
  padding-left: 0;

  li {
    padding: $a-spacing-2 $a-spacing-4;
    background-color: #ffffff;
    box-shadow: $a-shadow-xsmall;
    border-radius: $a-border-radius-medium;
  }
}

.documents-conatainer {
  .document-list-container {
    li {
      width: 100%;
      padding: $a-spacing-4 $a-spacing-4;

      .navds-form-field {
        gap: 0;
      }
    }
  }
}

.images {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  gap: $a-spacing-3;

  .image-card {
    padding: $a-spacing-4 $a-spacing-2 $a-spacing-1 $a-spacing-2;
    width: 10rem;
    height: 15rem;
    position: relative;
    background-color: #ffffff;
    box-shadow: $a-shadow-xsmall;
    border-radius: $a-border-radius-medium;
    text-align: center;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  position: relative;

  .image {
    width: 130px;
    height: 130px;
    position: relative;
  }

  &--xsmall {
    .image {
      width: 75px;
      height: 75px;
      position: relative;
    }
  }
}
.more-menu-container {
  position: absolute;
  top: $a-spacing-2;
  right: $a-spacing-1;
}
.tab-panel {
  padding: $a-spacing-4 0;
  @include mixins.for-size(desktop-up) {
    padding: $a-spacing-6 0;
    padding-bottom: $a-spacing-10;
  }

  form {
    #description {
      height: 300px !important;
    }
  }
}

.variant-table {
  overflow-x: scroll;

  table {
    tr > th:first-child {
      position: sticky;
      left: 0;
      width: 250px;
      z-index: 1;
    }

    th {
      background-color: white;
      padding-top: 0;
    }
  }
}

.images-tab {
  &__upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;

    gap: 1rem;
    width: 626px;
    height: 121px;
    background-color: #efecf4;
    border-radius: 5px;
    border: 2px dotted #8269a2;

    button {
      background-color: white;
    }
  }

  &__upload-icon {
    color: #8269a2;
    opacity: 0.4;
  }

  &__text {
    color: #676f7b;
  }
}

.product-tab-tabel {
  display: flex;
}

.product-error-text {
  color: $a-text-danger;
}
