@use "../styles/_mixins";

@import "@navikt/ds-tokens/dist/tokens";

.productPage {
  @include mixins.for-size(phone-only) {
    justify-items: flex-start;
  }
}

.headingLink {
  color: black;

  &:hover {
    color: $ax-text-accent;
  }
}

.videos {
  list-style: none;

  li {
    padding: $ax-space-4;
    background-color: #ffffff;
    box-shadow: $ax-shadow-dialog;
    border-radius: $ax-radius-8;
    width: 400px;
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }
}

.documentListContainer {
  list-style: none;
  padding-left: 0;
  margin: 1rem 0 0;

  li {
    width: 100%;
    padding: $ax-space-4 $ax-space-4;
    background-color: #ffffff;
    box-shadow: $ax-shadow-dialog;
    border-radius: $ax-radius-8;
  }
}

.moreMenuContainer {
  position: absolute;
  top: $ax-space-2;
  right: $ax-space-1;
}

.tabPanel {
  padding: $ax-space-4 0;
  @include mixins.for-size(desktop-up) {
    padding: $ax-space-6 0 $ax-space-12;
  }

  form {
    #description {
      height: 300px !important;
    }
  }
}

.variantTable {
  overflow-x: scroll;

  table {
    tr > th:first-child {
      position: sticky;
      left: 0;
      width: 250px;
      z-index: 1;
    }

    th {
      background-color: white;
    }
  }
}

.tabLabel {
  display: flex;
  color: $ax-text-danger;
}

.errorText {
  color: $ax-text-danger;
}
