.seriesList {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  min-height: 58rem;
}

.seriesPanel {
  padding: var(--ax-space-12);
  border: 1px solid var(--ax-border-neutral-subtleA);
  border-radius: var(--ax-radius-6);
  background-color: var(--ax-bg-default);
  color: var(--ax-text-neutral);
  text-decoration: none;

  &:hover {
    background-color: var(--ax-bg-neutral-moderate-hover);
  }
}

.imageBox {
  border-color: var(--ax-border-neutral-subtleA);
}
