.catalogfilesContainer {
  max-width: 85rem;
}

.column {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.longColumn {
  @extend .column;
  max-width: 500px;
  width: 500px;
}

.mediumColumn {
  @extend .column;
  max-width: 170px;
  width: 170px;
}

.shortColumn {
  @extend .column;
  max-width: 90px;
  width: 90px;
}

.editButton {
  padding: 0;
}

.editButtonHeader {
  width: 90px;
}

.errorStatus {
  color: var(--ax-text-danger, #c30000);
  font-weight: bold;
}

.errorDialog {
  white-space: wrap;
}

.helpText {
  white-space: wrap;
}