
@import "@navikt/ds-tokens/dist/tokens";

.dragged{
  list-style-type: none ;
  padding: $a-spacing-4 $a-spacing-2 $a-spacing-1 $a-spacing-2;
  width: 10rem;
  height: 15rem;
  position: relative;
  box-shadow: $a-shadow-xsmall;
  border-radius: $a-border-radius-medium;
  text-align: center;
  background-color: var(--a-gray-200);
}

.list {
  user-select: none;
  display: flex;
  justify-content: flex-start;
}

.userSelect {
  cursor: grab;
}
