@use "../styles/_mixins";

@import "@navikt/ds-tokens/dist/tokens";
.increaseSpacing{
  padding-block: 2rem 0;
}

.createNews {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $ax-space-8;

  .headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $ax-space-4;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 400px;

    .buttonContainer {
      display: flex;
      width: 100%;
      gap: $ax-space-4;
      margin-top: $ax-space-8;

      button {
        flex-grow: 1;

      }
    }
  }
}
.editorStyle {
  background-color: var(--ac-textarea-bg, var(--__ac-textarea-bg, var(--ax-bg-default)));
  border: 1px solid var(--ac-textarea-border, var(--__ac-textarea-border, var(--ax-border-neutral)));
  border-radius: var(--ax-radius-8);
}