@use "../styles/_mixins";

@import "@navikt/ds-tokens/dist/tokens";

.editorStyle {
  background-color: var(--ac-textarea-bg, var(--__ac-textarea-bg, var(--ax-bg-default)));
  border: 1px solid var(--ac-textarea-border, var(--__ac-textarea-border, var(--ax-border-neutral)));
  border-radius: var(--ax-radius-8);
}