@use "../styles/_mixins";

@import "@navikt/ds-tokens/dist/tokens";
.reducedSpacing{
  padding-block: 2rem 0rem;
}
.hiddenText{

  height: var(--a-spacing-16);
}

.create-new-supplier {
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    gap: $a-spacing-8;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $a-spacing-4;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 400px;

    .button-container {
      display: flex;
      width: 100%;
      gap: $a-spacing-4;
      margin-top: $a-spacing-4;

      button {
        flex-grow: 1;
      }
    }
  }
}

.editor {
  min-height: 300px;
  appearance: none;
  padding: var(--a-spacing-2);
  background-color: var(--ac-textarea-bg, var(--__ac-textarea-bg, var(--a-surface-default)));
  border-radius: var(--a-border-radius-medium);
  border: 1px solid var(--ac-textarea-border, var(--__ac-textarea-border, var(--a-border-default)));
  resize: none;
  width: 100%;
  display: block;
  color: var(--ac-textarea-text, var(--__ac-textarea-text, var(--a-text-default)));
  overflow: auto;

  &:hover {
    border-color: var(--ac-textarea-hover-border, var(--__ac-textarea-hover-border, var(--a-border-action-hover)))
  }

  &:focus-within {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: var(--a-shadow-focus);
    border-color: var(--ac-textarea-active-border, var(--a-border-action-selected));
  }

  :global(.public-DraftStyleDefault-block) {
    margin: 0.5rem;
  }
}

.wrapper {
  margin-top: var(--a-spacing-10);
}

.toolbar {
  background-color: #f6f7fc;
  border: none;
}