.seperatingLine {
  border-bottom: 1px solid #CACFD4;
  padding-bottom: 20px;
}

.seperatingLine p {
  margin-block: var(--ax-space-0);

}

.optionButton {
  align-self: end;
}

.cardContainerDiv {
  display: flex;
  flex-direction: column;
}