@import "@navikt/ds-tokens/dist/tokens";

.imageCard{
    list-style: none;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--a-spacing-3);
    padding: var(--a-spacing-4) var(--a-spacing-2) var(--a-spacing-1) var(--a-spacing-2);
    width: 10rem;
    position: relative;
    background-color: #ffffff;
    box-shadow: var(--a-shadow-xsmall);
    border-radius: var(--a-border-radius-medium);
    text-align: center;

}
.imageCard:hover{
    background-color: var(--a-surface-hover);
}

.grabbable{
    margin-top: var(--a-spacing-3);
    opacity: 0.7;
}

