@use "../../styles/_mixins";
@import "@navikt/ds-tokens/dist/tokens";

.definitionList {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  font-size: 1rem;

  dt {
    font-weight: bold;
    text-align: left;
    padding-top: $ax-space-4;
  }

  dd {
    margin-left: 0;
    padding-top: 0;
    padding-top: $ax-space-1;
  }

  @include mixins.for-size(tablet-up) {
    dt {
      padding-top: $ax-space-6;
    }
  }

  dt:first-child {
    padding-top: 0;
  }
}

.definitionListHorizontal {
  @include mixins.for-size(tablet-up) {
    grid-template-columns: minmax(auto, max-content) auto;
    row-gap: $ax-space-1;
    column-gap: $ax-space-6;

    dd,
    dt {
      padding-top: $ax-space-2;
    }
  }

  dt:first-child {
    padding-top: $ax-space-2;
  }
}
