.container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;

  .image {
    width: 130px;
    height: 130px;
    position: relative;
  }

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    object-fit: contain;
    color: transparent;
    padding: 6px;
  }
}

.xsmall {
  composes: container;
  composes: image;
  width: 75px;
  height: 75px;
}