@import "@navikt/ds-tokens/dist/tokens";

.imageCard {
  padding: var(--ax-space-6) var(--ax-space-2) var(--ax-space-1);
  position: relative;
  width: 10rem;
}

.buttonImage {
  border: none;
  background: none;
  height: fit-content;
  width: fit-content;
}

.moreMenuContainer {
  position: absolute;
  top: $ax-space-2;
  right: $ax-space-1;
}