@import "@navikt/ds-tokens/dist/tokens";

.more-menu {
  .navds-popover__content {
    padding: 0;
  }

  button {
    justify-content: flex-start;
    padding: 1rem 2rem;
    &:hover {
      border-radius: 0;
    }
  }
}
