@import "@navikt/ds-tokens/dist/tokens";

.more-menu {
  .more-menu-content {
    padding: 0;

    li {
      padding: 0.3rem !important;
      width: auto !important;
    }
  }

  .more-menu-button {
    justify-content: flex-start;
    padding: 1rem 2rem;

    &:hover {
      border-radius: 0;
    }
  }
}
