.ql-toolbar, .ql-container {
    border: none !important;
}

.ql-toolbar {
    border-bottom: 1px solid var(--ax-border-neutral) !important;
}

.ql-editor {
    font-size: var(--ax-font-size-large);
    min-height: 10rem;
}

.ql-bold:focus {
    outline: var(--ax-border-focus) var(--ax-space-0) solid;
    border-radius: var(--ax-space-0);
}

.ql-italic:focus {
    outline: var(--ax-border-focus) var(--ax-space-0) solid;
    border-radius: var(--ax-space-0);
}

.ql-list:focus {
    outline: var(--ax-border-focus) var(--ax-space-0) solid;
    border-radius: var(--ax-space-0);
}

.ql-link:focus {
    outline: var(--ax-border-focus) var(--ax-space-0) solid;
    border-radius: var(--ax-space-0);
}

.quill-ol {
    margin-top: 0;
    margin-bottom: 0;
}
