@import "@navikt/ds-tokens/dist/tokens";

.tag-container {
  .navds-tag {
    padding: $a-spacing-1 $a-spacing-3;
    border-radius: $a-border-radius-medium;
    width: fit-content;
    border: none;
    line-height: 1.25rem;

    &:has(.navds-tag__icon--left) {
      gap: 6px;
    }

    --ac-tag-neutral-bg: var(--a-gray-100);
    --ac-tag-warning-bg: var(--a-orange-200);
    --ac-tag-success-bg: var(--a-green-100);
    --ac-tag-error-bg: var(--a-red-100);
    --ac-tag-info-bg: var(--a-blue-100);
  }
}
