@import "@navikt/ds-tokens/dist/tokens";

.tag-container {
  .aksel-tag {
    padding: $ax-space-4 $ax-space-8;
    border-radius: $ax-radius-4;
    width: fit-content;
    border: none;
    line-height: 1.25rem;

    &:has(.aksel-tag__icon--left) {
      gap: 6px;
    }

    --ac-tag-neutral-bg: var(--ax-bg-neutral-soft);
    --ac-tag-warning-bg: var(--ax-bg-warning-soft);
    --ac-tag-success-bg: var(--ax-bg-success-soft);
    --ac-tag-error-bg: var(--ax-bg-danger-soft);
    --ac-tag-info-bg: var(--ax-bg-info-soft);
  }
}
