.productsToApproveTable {
  table {
    border-collapse: separate;
    border-spacing: 0 6px;
  }

  thead th {
    border: 0;
  }

  thead td {
    border: 0;
  }

  tbody tr {
    position: relative;
    background-color: var(#fff);
    border: 0;

    &:hover {
      outline: 1px solid var(--ax-border-accent);
      border-radius: var(--ax-radius-12);

      cursor: pointer;

      td:first-child {
        text-decoration: underline;
        color: var(--ax-text-accent);
      }
    }
  }

  tbody th {
    padding: 15px 25px;
    border: 0;
  }

  td {
    padding: var(--ax-space-2);
    border: 1px solid var(--ax-border-neutral-subtleA);
    align-items: center;
  }

  td:first-child {
    border-top-left-radius: var(--ax-radius-12);
    border-bottom-left-radius: var(--ax-radius-12);
    border-right: 0;
  }

  td:last-child {
    border-top-right-radius: var(--ax-radius-12);
    border-bottom-right-radius: var(--ax-radius-12);
    border-left: 0;
  }

  td:not(:first-child):not(:last-child) {
    border-left: 0;
    border-right: 0;
  }
}

.pageSize {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: -20px;
}

.linkToProduct {
  &:hover,
  &:focus {
    text-decoration: underline;
    color: var(--ax-text-accent);
    background-color: transparent;
  }
}

.imageBox {
  border-color: var(--ax-border-neutral-subtleA);
}

.checkbox {
  input {
    z-index: 2;
  }
}
