@use "../styles/mixins";
@import "@navikt/ds-tokens/dist/tokens";

.thumbnail {
  height: 50px;
  display: none;
  @include mixins.for-size(tablet-up) {
    display: flex;
  }

  :hover{
    cursor: pointer;
    opacity: 0.7;
  }
}
