@use "@navikt/ds-tokens/dist/tokens" as *;

.mediaCard {
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--ax-space-16);
  padding: var(--ax-space-16) var(--ax-space-8) var(--ax-space-1) var(--ax-space-8);
  width: 20rem;
  position: relative;
  text-align: center;
}
