@import "@navikt/ds-tokens/dist/tokens";

.mediaCard {
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--ax-space-4);
  padding: var(--ax-space-8) var(--ax-space-2) var(--ax-space-1) var(--ax-space-2);
  width: 20rem;
  position: relative;
  text-align: center;
}
