@use "../../styles/mixins";
@import "@navikt/ds-tokens/dist/tokens";

.keywords-static {
  --ac-tag-alt-3-bg: var(--ax-bg-info-strong);
  .aksel-tag--alt3{
    color: var(#fff);
    border-radius: var(--ax-radius-full);
  }
}

.keyword-box {
  padding-top: 0.5rem;
}
