@use "../styles/_mixins";

@import "@navikt/ds-tokens/dist/tokens";



.alertSpacing {
  margin-bottom: var(--ax-space-4);
}

.tabPanel {
  padding: $ax-space-4 0;
  @include mixins.for-size(desktop-up) {
    padding: $ax-space-6 0 $ax-space-12;
  }

  form {
    #description {
      height: 300px !important;
    }
  }
}