@use "../styles/_mixins";

@import "@navikt/ds-tokens/dist/tokens";

.productPage {
  @include mixins.for-size(phone-only) {
    justify-items: flex-start;
  }
}

.headingLink {
  color: black;

  &:hover {
    color: $a-text-action;
  }
}

.videos {
  list-style: none;

  li {
    padding: $a-spacing-4;
    background-color: #ffffff;
    box-shadow: $a-shadow-xsmall;
    border-radius: $a-border-radius-medium;
    width: 400px;
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }
}

.documentListContainer {
  list-style: none;
  padding-left: 0;
  margin: 1rem 0 0;

  li {
    width: 100%;
    padding: $a-spacing-4 $a-spacing-4;
    background-color: #ffffff;
    box-shadow: $a-shadow-xsmall;
    border-radius: $a-border-radius-medium;
  }
}

.moreMenuContainer {
  position: absolute;
  top: $a-spacing-2;
  right: $a-spacing-1;
}

.tabPanel {
  padding: $a-spacing-4 0;
  @include mixins.for-size(desktop-up) {
    padding: $a-spacing-6 0 $a-spacing-10;
  }

  form {
    #description {
      height: 300px !important;
    }
  }
}

.variantTable {
  overflow-x: scroll;

  table {
    tr > th:first-child {
      position: sticky;
      left: 0;
      width: 250px;
      z-index: 1;
    }

    th {
      background-color: white;
    }
  }
}

.tabLabel {
  display: flex;
  color: $a-text-danger;
}

.errorText {
  color: $a-text-danger;
}
