.partsList {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  min-height: 58rem;
}

.partPanel {
  padding: var(--ax-space-2);
  border: 1px solid var(--ax-border-neutral-subtleA);
  border-radius: var(--ax-radius-12);
  background-color: var(--ax-bg-default);
  color: var(--ax-text-neutral);
  text-decoration: none;

  &:hover {
    background-color: var(--ax-bg-neutral-moderate-hover);
  }
}

table tbody tr{
  background-color: white;
}
