.supplierPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: var(--ax-space-8);
  border: 1px solid var(--border-subtle, rgba(7, 26, 54, 0.21));
  border-radius: var(--ax-radius-12);
  background-color: var(--ax-bg-default);
  color: var(--ax-text-neutral);
  text-decoration: none;
}

.supplierPanel p {
  flex-basis: 80%;
}

.supplierPanel div {
  flex-basis: 20%
}


.supplierPanel:hover {
  cursor: pointer;
  box-shadow: var(--ax-shadow-dialog);
}

.supplierPanel:hover p {
  text-decoration: underline;
  color: var(--ac-link-panel-hover-text, var(--ax-text-accent));
}

.supplierPanel:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.supplierPanel:focus {
  box-shadow: var(--ax-border-focus);
  outline: none;
}

.chevron {
  flex-shrink: 0;
}

.supplierPanelContainer {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-6);
  max-width: 55rem;
}