.editor {
  min-height: 300px;
  appearance: none;
  padding: var(--a-spacing-2);
  background-color: var(--ac-textarea-bg, var(--__ac-textarea-bg, var(--a-surface-default)));
  border-radius: var(--a-border-radius-medium);
  border: 1px solid var(--ac-textarea-border, var(--__ac-textarea-border, var(--a-border-default)));
  resize: none;
  width: 100%;
  display: block;
  color: var(--ac-textarea-text, var(--__ac-textarea-text, var(--a-text-default)));
  overflow: auto;

  &:hover {
    border-color: var(--ac-textarea-hover-border, var(--__ac-textarea-hover-border, var(--a-border-action-hover)))
  }

  &:focus-within {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: var(--a-shadow-focus);
    border-color: var(--ac-textarea-active-border, var(--a-border-action-selected));
  }

  :global(.public-DraftStyleDefault-block) {
    margin: 0.5rem;
  }
}

.description {
  color: var(--ac-form-description, var(--__ac-form-description, var(--a-text-subtle)));
}
