@use '../../styles/_mixins';

@import '@navikt/ds-tokens/dist/tokens';

.create-new-agreement {
  margin-top: $a-spacing-16;
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    gap: $a-spacing-8;
    margin-bottom: $a-spacing-16;
  }

  h1 {
    text-align: left;
  }
}
