@use "./mixins";
@import "variables";
@import "@navikt/ds-tokens/dist/tokens";

.auth-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: $fm-bg-light;
}

.auth-dialog-box {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 29rem;
    gap: $ax-space-6;
    background-color: #fff;
    padding: $ax-space-12 $ax-space-12;
    border-radius: $ax-radius-16;
    box-shadow: $ax-shadow-dialog;

    h2 {
      font-weight: 400;
      font-size: $ax-font-size-xlarge;
      line-height: $ax-font-line-height-xlarge;
    }

    &--max-width > * {
      max-width: 19rem;
    }
  }

  &__form {
    margin-top: $ax-space-6;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $ax-space-6;

    button {
      align-self: center;
      margin-top: $ax-space-6;
    }
  }

  &__error-message {
    color: $ax-text-danger;
  }

  &__success-message {
    color: $ax-text-success;
  }

  &__button-container {
    display: flex;
    width: 100%;
    gap: $ax-space-4;

    button {
      flex-grow: 1;
    }
  }
}
