@use "./_mixins";

@import "@navikt/ds-css";
@import "@navikt/ds-tokens/dist/tokens";
@import "overwrite-aksel";
@import "auth-pages";
@import "menu";
@import "variables";

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f6f7fc;
  -webkit-font-smoothing: antialiased;
}

main {
  @include mixins.for-size(tablet-up) {
    flex: auto;
  }
  min-height: 100vh;
  /* Page content. The value of the margin-left property should match the value of the sidemenu's width property */
}

main.show-menu {
  @include mixins.for-size(phone-up) {
    margin-left: 123px;
  }

  @include mixins.for-size(desktop-up) {
    margin-left: 270px;
  }

  > div {
    padding: $ax-space-6 $ax-space-4;
    @include mixins.for-size(tablet-only) {
      padding-left: $ax-space-8;
    }

    @include mixins.for-size(tablet-up) {
      padding: $ax-space-48 $ax-space-24;
    }

    @include mixins.for-size(desktop-up) {
      padding: $ax-space-80 $ax-space-48;
    }
  }
}

main:not(.show-menu) {
  > div {
    padding: $ax-space-6 $ax-space-4;

    @include mixins.for-size(tablet-up) {
      padding: $ax-space-12 $ax-space-4;
    }
  }
}

.logo-and-name-container {
  display: flex;
  gap: $ax-space-2;
  align-items: center;
  padding: $ax-space-8 $ax-space-1;

  .name {
    display: flex;
    flex-direction: column;
    font-weight: 400;
  }
}

.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;

    @include mixins.for-size(phone-only) {
      flex-direction: column;
    }
  }

  &--space-between {
    justify-content: space-between;
  }
}

.flex-column-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixins.for-size(desktop-up) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.spacing {
  &-top {
    &--small {
      margin-top: $ax-space-2;
    }

    &--medium {
      margin-top: $ax-space-4;
    }

    &--large {
      margin-top: $ax-space-8;
    }

    &--xlarge {
      margin-top: $ax-space-16;
    }
  }
}

.spacing {
  &-bottom {
    &--small {
      margin-bottom: $ax-space-2;
    }

    &--medium {
      margin-bottom: $ax-space-4;
    }

    &--large {
      margin-bottom: $ax-space-8;
    }

    &--xlarge {
      margin-bottom: $ax-space-16;
    }
  }
}

.fit-content {
  width: fit-content;
}

.text-overflow-hidden-small {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}

.text-overflow-hidden-small-2-lines {
  display: -webkit-box;
  line-clamp: 2;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  display: -moz-box;
  -moz-box-orient: vertical;

  overflow: hidden;
}

.text-overflow-hidden-large {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 450px;
}

.max-width {
  max-width: 1200px;
  margin: auto;
  padding-left: $ax-space-4;
  padding-right: $ax-space-4;

  @include mixins.for-size(desktop-up) {
    padding-left: $ax-space-6;
    padding-right: $ax-space-6;
  }
}

.page {
  &__content-container {
    display: flex;
    flex-direction: column;
    gap: $ax-space-12;
    max-width: 64rem;
  }
}

.search-box {
  width: 80%;
  max-width: 35rem;
}

.panel-list {
  &__container {
    display: flex;
    flex-direction: column;
    gap: $ax-space-12;
  }

  &__name-panel {
    display: flex;
    justify-content: space-between;
    padding: $ax-space-12;
    border: 1px solid var(--border-subtle, rgba(7, 26, 54, 0.21));
    border-radius: $ax-radius-8;
  }

  &__title {
    font-size: 18px;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: $ax-space-8;

  .button-container {
    display: flex;
    width: 100%;
    gap: $ax-space-4;
    margin-top: $ax-space-4;

    button {
      flex-grow: 1;
    }
  }

  .readonly {
    border: none;
    background-color: inherit;
    min-height: 3rem;

    input {
      border: none;
      background-color: inherit;
      min-height: 3rem;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &--max-width-small {
    width: 400px;

    @include mixins.for-size(phone-only) {
      width: 100%;
    }
  }
}

.search-button {
  .aksel-search {
    &__button-search {
      background-color: #3a4583;
      color: white;
      border-radius: 0 var(--ax-radius-8) var(--ax-radius-8) 0;
      flex-shrink: 0;
      min-height: 2rem;
      min-width: 4rem;

      &:active,
      &:hover {
        background-color: #8269a2;
        color: white;
      }
    }
  }
}