@use "./_mixins";
@import "variables";

/* The navigation menu */
.menu {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;

  padding: $a-spacing-2 $a-spacing-3;

  &.open {
    background-color: $fh-bg-default;

    &__burgermenu-button {
      color: #b7bfd8;
    }

    .user-menu {
      margin-bottom: $a-spacing-4;
    }
  }

  svg {
    color: #b7bfd8;
  }

  @include mixins.for-size(phone-up) {
    margin: 0;
    width: 123px;
    gap: $a-spacing-4;
    padding: $a-spacing-3;
    background-color: $fh-bg-default;
    border-right: 1px solid #ebecec;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  @include mixins.for-size(desktop-up) {
    width: 270px;
    padding: $a-spacing-8 $a-spacing-6;
  }

  &__desktop {
    @include mixins.for-size(phone-only) {
      display: none;
    }
  }

  &__logo {
    display: none;

    @include mixins.for-size(desktop-up) {
      display: block;
      font-weight: $a-font-weight-bold;
      color: #fff;
      line-height: 2rem;
    }
  }

  &__mobile {
    @include mixins.for-size(phone-up) {
      display: none;
    }
  }

  &__burgermenu-button {
    display: flex;
    align-self: flex-start;

    @include mixins.for-size(phone-up) {
      display: none;
    }
  }

  &__nav-links {
    padding: $a-spacing-2 $a-spacing-1;
    padding-bottom: $a-spacing-6;

    @include mixins.for-size(phone-up) {
      padding: $a-spacing-6 $a-spacing-1;
    }

    @include mixins.for-size(tablet-only) {
      align-items: center;
      margin-top: $a-spacing-10;
    }
  }

  .page-link {
    display: flex;
    align-items: center;
    height: 62px;
    margin: -3px;
    text-decoration: none;
    position: relative;
    color: #fff;

    @include mixins.for-size(tablet-only) {
      span {
        display: none;
      }

      padding-right: $a-spacing-4;
    }

    .active-indicator {
      position: absolute;
      left: 0;
      height: 28px;
      width: 5px;
      border-radius: 4px;
      background-color: #fff;
    }

    .line {
      width: 1px;
      align-self: stretch;
      margin-left: 2px;
      border-radius: 4px;
      background-color: #fff;
    }

    &:focus-visible,
    // &:focus,
    &:hover:not(.page-link.active) {
      background-color: #363c5d;
    }

    &.active {
      font-weight: bolder;

      @include mixins.for-size(phone-up) {
        text-decoration: unset;
      }
    }
  }
}

.user-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mixins.for-size(phone-only) {
    text-decoration: unset;
  }

  &__tablet {
    display: none;

    @include mixins.for-size(tablet-only) {
      display: flex;
      gap: $a-spacing-10;
      flex-direction: column;
      justify-content: center;
      border: none;
      text-decoration: unset;
    }
  }

  &__desktop-and-phone {
    align-items: stretch;
    gap: $a-spacing-2;
    padding: $a-spacing-2 $a-spacing-2;
    border: 1px solid $fm-border-light;
    border-radius: $a-border-radius-medium;

    @include mixins.for-size(tablet-only) {
      display: none;
    }
  }

  &__button {
    padding: $a-spacing-1;
    display: block;
    color: #fff;
    background: none;

    .icon-name-container {
      display: inline-flex;
      align-items: center;
      gap: $a-spacing-2;
    }
  }

  &__button > span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button:active,
  &__button:hover {
    background-color: #363c5d;
  }

  &__expanded-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: $a-spacing-2;
    animation: fadeAccordionContent 250ms ease;
  }

  &__profile-link {
    align-items: center;
    border: 1px solid $fm-border-darker;
    color: #fff;
    padding: $a-spacing-2 $a-spacing-3;

    border-radius: $a-border-radius-medium;
    text-decoration: none;
    background-color: inherit;

    &:focus-visible,
    &:focus,
    &:hover:not(.page-link--active) {
      background-color: #363c5d;
    }
  }

  .line {
    min-width: 200px;
    height: 1px;
    background-color: $fm-border-light;
    align-self: center;
  }

  &__logout-link {
    align-items: center;
    color: #fff;
    padding: $a-spacing-2 $a-spacing-3;
    margin: 1px;
    gap: $a-spacing-2;
    text-decoration: none;
    border-radius: $a-border-radius-medium;

    @include mixins.for-size(tablet-only) {
      padding: $a-spacing-2;
    }

    &:focus-visible,
    &:focus,
    &:hover:not(.page-link--active) {
      background-color: #363c5d;
    }
  }
}

@keyframes fadeAccordionContent {
  0% {
    opacity: 0.25;
    transform: translateY(-2px);
  }

  40% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
