.aksel-combobox__wrapper {
  .aksel-combobox__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
  }
}

.aksel-alert--info {
  background-color: $ax-bg-meta-purple-soft;
  border-color: $ax-border-meta-purple;

  .aksel-alert__icon {
    color: $ax-text-meta-purple;
  }
}

.aksel-button[data-variant="primary"] {
  background-color: #3a4583;
  border-radius: 10px;

  &:active,
  &:hover {
    background-color: #8269a2;
  }
}

.aksel-button[data-variant="secondary"] {
  color: #3a4583;
  box-shadow: rgb(58, 69, 131) 0px 0px 0px 2px inset;
  border-radius: 10px;

  &:active,
  &:hover {
    background: #efecf4;
    color: #3a4583;
  }
}

.aksel-button[data-variant="tertiary"] {
  color: #3a4583;
  border-radius: 10px;

  &:active,
  &:hover {
    background: #efecf4;
    color: #3a4583;
  }
}

.aksel-toggle-group__button[data-selected="true"] {
  background-color: #3a4583;
  color: #fff;
}

.aksel-pagination .aksel-button[aria-current="true"] {
  background-color: #3a4583;
  color: #fff;
}

.aksel-toggle-group--small > .aksel-toggle-group__button {
  padding: $ax-space-1 $ax-space-1;
}

.aksel-chips__toggle[data-pressed="true"],
.aksel-chips__toggle[data-pressed="true"]:hover {
  background-color: #3a4583;
}
